<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='statement.css') }}">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <title>Statement</title>
</head>
<body>
    <div class="header">
        <h2>EXPENSE TRACKER</h2>
    </div>
    <div class="content">
    <div class="export_btn">
        <a href="/export/excel">
        <button>Download</button>
        </a>
    </div>
        <div class="st_table">

    <!-- Fixed Header Table -->
    <div class="table-header">
        <table>
            <thead>
                <tr style="height: 50px;">
                    <th>DATE</th>
                    <th>ITEM</th>
                    <th style="width: 20%;">SHOP NAME</th>
                    <th>CATEGORY</th>
                    <th>MODE OF PAYMENT</th>
                    <th>AMOUNT</th>
                </tr>
            </thead>
        </table>
    </div>

    <!-- Scrollable Body Table -->
    <div class="table-body">
        <table>
            <tbody>
                {% for i in result %}
                <tr>
                    <td>{{ i[0] }}</td>
                    <td>{{ i[1] }}</td>
                    <td style="width: 20%;">{{ i[2] }}</td>
                    <td>{{ i[3] }}</td>
                    <td>{{ i[4] }}</td>
                    <td>₹ {{ i[5] }}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td colspan="5">
                        TOTAL :
                    </td>
                    <td>₹ {{ total }}</td>
                </tr>
            </tbody>
        </table>
     </div>
    </div>
    <hr>
    <div class="compcont">
        <div class="catcomp">
            <h3>Category wise Comparison</h3>
            <div id="barChart" class="chart-box"></div>
        </div>
    <hr>
        <div class="paycomp">
            <h3>Mode of Payment</h3>
            <div id="pieChart" class="chart-box"></div>
        </div>
    </div>
    </div>
    <script>
        window.labels = {{ labels | tojson | safe }};
        window.values = {{ values | tojson | safe }};
        window.pay_labels = {{ pay_labels | tojson | safe }};
        window.pay_values = {{ pay_values | tojson | safe }};
    </script>
<script src="{{ url_for('static', filename='stats.js') }}"></script>
</body>
</html>