*{
    --color--log: #a41bff;
    --color-txt: #2b2525;
    --color-entrylbl: #0c4620;
    --row-even: #f2f2ff;
    --row-odd: #ffffff;
    --table-header: rgb(58, 48, 192);
}

body{
    background-color: rgb(247, 251, 255);
    margin: 0;
    font-family: sans-serif;
    padding-top: 60px;
}

.header {
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--color--log);
    color: white;
    padding: 5px;

    position: fixed;   /* makes it stick */
    top: 0;            /* stick to top */
    left: 0;
    width: 100%;       /* full width */
    z-index: 1000;
}

.header h2 {
    padding-left: 3%;
    font-weight: bold;
}

.content {
    padding: 2%;
}

.export_btn {
    margin: 1px;
    padding: 1% 2%;
    width: 95%;
    text-align: right;
    border: 1px solid black;
    border-radius: 20px;
}

.export_btn button {
    border: none;
    border-radius: 10px;
    padding: 0.4%;
    width: 10%;
    font-size: 14px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    background-color: rgb(26, 148, 156);
}

.export_btn button:hover{
    background-color: rgb(19, 114, 121);
}

.st_table {
    width: 95%;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
}

.st_table table {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

.st_table table, .st_table td{
    border: 1px solid gray;
    border-collapse: collapse;
    height: 25px;
    font-size: 14px;
    color: rgb(48, 48, 48);
    text-align: center;
    font-weight: bold;
}

.st_table table th {
    font-size: 15px;
}

.st_table tbody tr:nth-child(even) {
    background-color: var(--row-even);
}

.st_table tbody tr:nth-child(odd) {
    background-color: var(--row-odd);
}

.table-header table,
.table-body table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed; /* KEY for alignment */
}

.table-header{
    padding-right: 1.2%;
    background-color: var(--table-header);
}

.table-body {
    max-height: 70vh;
    overflow-y: auto;
}

td {
    border: 1px solid gray;
    text-align: center;
    padding: 5px;
}

th {
    border: 1px solid var(--table-header);
    padding: 5px;
}

/* Optional header style */
.table-header th {
    background-color: var(--table-header);
    color: white;
}

.table-body table tr:last-child{
    height: 50px;
}

.table-body table tr:last-child td {
    text-align: right;
    padding-right: 25px;
    font-size: 17px;
}

.table-body table tr:last-child td:last-child{
    text-align: center;
}

hr {
    margin-top: 2%;
}

.compcont {
    margin: 1%;
    padding: 8px;
    text-align: center;
}

@media screen and (max-width: 850px){

    .header h2 {
        font-size: 12px;
    }

    .export_btn button {
        font-size: 10px;
        width: 20%;
    }

    .st_table table td {
        font-size: 8px;
    }

    .st_table table th {
        font-size: 9px;
    }

    .table-body table tr:last-child td{
        font-size: 10px;
    }
}

.chart-box {
    width: 100%;
    height: 400px;
}

/* 📱 Mobile */
@media (max-width: 600px) {
    .chart-box {
        height: 300px;
    }
}

/* 📱 Tablet */
@media (min-width: 601px) and (max-width: 1024px) {
    .chart-box {
        height: 350px;
    }
}

/* 💻 Desktop */
@media (min-width: 1025px) {
    .chart-box {
        height: 450px;
    }
}